src/main/mule/implementations/eStatements-implementation.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:customer-document-management="http://www.mulesoft.org/schema/mule/customer-document-management" xmlns:intellect-accounts="http://www.mulesoft.org/schema/mule/intellect-accounts"
	xmlns:accounts="http://www.mulesoft.org/schema/mule/accounts"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/accounts http://www.mulesoft.org/schema/mule/accounts/current/mule-accounts.xsd
http://www.mulesoft.org/schema/mule/intellect-accounts http://www.mulesoft.org/schema/mule/intellect-accounts/current/mule-intellect-accounts.xsd
http://www.mulesoft.org/schema/mule/customer-document-management http://www.mulesoft.org/schema/mule/customer-document-management/current/mule-customer-document-management.xsd">
	<flow name="eStatement-Download" doc:id="9c1c0fcc-1b33-43d3-b1ca-87591ebec446" >
		<logger level="INFO" doc:name="Before_eStatement by estatementId_Logger" doc:id="7c7b618d-7c6b-4b87-8395-cf04f3bcfbc9" message='#["Before_eStatement by estaementId_Logger"]'/>
		<customer-document-management:get-e-statement-by-e-statement-id doc:name="Get e statement by e statement id" doc:id="c348e144-0587-4e2b-910e-d2ffd36a71a0" customer-id="#[attributes.queryParams.cif]" e-statement-id="#[attributes.uriParams.eStatementId]" config-ref="Customer_Document_Management_Config"/>
		<ee:transform doc:name="response of statement id" doc:id="de6d75a0-7d99-479c-94d6-ddf4bdad7e3b">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
[
  {
    "eStatementId":payload.eSatatementId,
    "title": payload.title
  }
]]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="After _eStatement by estatementId_Logger" doc:id="c7b7c449-960e-4631-b837-3122db4f709b" message='#["After _eStatement by estatementId_Logger"]'/>
	</flow>
	<flow name="eStatement-List" doc:id="157a109a-5d83-4b9d-87c1-6d6cee52d673" >
		<logger level="INFO" doc:name="Before_Get eStatements_Logger" doc:id="f228c39e-a889-4ef6-b9ff-420bbc73ac61" message='#["Before_Get eStatements_Logger"]' />
		<customer-document-management:get-e-statements doc:name="Get e statements" doc:id="a8938c79-7dd2-4584-97ed-707b48fdf201" from="#[attributes.queryParams.from]" to="#[attributes.queryParams.to]" customer-id="#[attributes.queryParams.cif]" config-ref="Customer_Document_Management_Config"/>
		<ee:transform doc:name="response of statement" doc:id="00c92185-5721-4b35-8a5e-6ffe59d512ad" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
estatementlist:payload map (element, index) -> {
  "eStatementId" : element.eStatementId,
  "title" : element.title
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="After_Get eStatements_Logger" doc:id="d6004f31-5a96-477e-84c5-9ccb2eae3b0a" message='#["After_Get eStatements_Logger"]' />
	</flow>
</mule>
